*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: black; */
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
  color: var(--text-color);
  font-weight: 700;
  font-size: 35px;
  position: relative;
}

table {
  width: 92%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

img {
  height: 64px;
  margin-bottom: -10px;
}

th {
  text-align: left;
  padding: 10px 5px;
}

td {
  padding: 5px;
}

td:first-child {
  text-align: center;
}

tbody tr {
  background-color: var(--background-light-color);
}

tr:nth-child(odd) {
  background-color: var(--background-light-color);
}
tr:nth-child(even) {
  background-color: var(--background-color);
}

thead tr {
  background-color: var(--background-color) !important;
}